<%= show_fields(metadata,
	[
		:description,
		:keywords,
		[:uri, 'Metadata URI'],
		:conforms_to,
		:beginning_date,
		:ending_date,
		:geographic_coverage,
		:type,
		:language,
		:created_date,
		:last_updated,
		:rights
	]).html_safe
%>
<p><b>Creator agency:</b> <br/><%= get_organization_name(metadata['creator_organization_id']) %></p>
<p><b>Maintainer agency:</b> <br/><%= get_organization_name(metadata["maintainer_organization_id"])  %></p>
<p><b>Publisher agency:</b> <br/><%= get_organization_name(metadata["publisher_organization_id"])  %></p>
