<%= show_fields(named_place, [
		:name,
		[:state_abbreviation, 'State'],
		:description
		]).html_safe %>
<table class="property-table">
	<tr>
		<th>Lon, Lat, Elevation:</th>
		<td>&nbsp;</td>
	</tr>
</table>
