<%= form_tag admin_datasources_path, :method => 'get' do %>
<ol id="search">
	<li><%= text_field_tag :search, params[:search] %></li>
	<li><%= submit_tag 'Search', :name => nil, :class => "submit" %></li>
</ol>
<% end %>
