<% title "Create New Site" %>
<div class="grid_12">
  <div class="box">
  Your site has been created, and you should receive a confirmation email shortly.  Once you click on the link in the email, you will be taken
  to http://<%= @site.identifier %>.<%= OM_DOMAIN %><%= OM_PORT == 80 ? '' : OM_PORT %>/admin where you can begin setting up your data sources.  We hope you enjoy Civic OpenMedia.
  </div>
</div>
