<div id="header">
	<%= render :partial => 'shared/nav_service' %>
	
	<%#= image_tag "openmedia_logo.png", {:alt => "Civic OpenMedia"} %>
	<h1 id="branding"><%= link_to 'Civic OpenMedia', admin_path %></h1>

	<div class="search">
		<%= render :partial => 'admin/search_form' %>
	</div>
</div>


