<% content_for :head do %>

	<!-- Use Dojo Claro 1.6 stylesheet (it interferes less with core CSS properties than ESRI-provded 1.5) -->
	<%= stylesheet_link_tag "http://ajax.googleapis.com/ajax/libs/dojo/1.6/dijit/themes/claro/claro.css" %>
	<meta name="Viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no">

	<%= javascript_include_tag "http://serverapi.arcgisonline.com/jsapi/arcgis/?v=2.2" %>
	<%= javascript_include_tag "map-arcgis.js" %>

	<script type="text/javascript">
		dojo.require("dijit.layout.ContentPane");
		dojo.require("esri.map");
		
		function Init() {
			new dijit.layout.ContentPane({region: "center", style: "height: 100%; width: 100%; margin: 0; padding: 0; overflow: hidden;"},"map");
//			var map = new esri.Map("map");
// Washington, DC
		var initExtent = new esri.geometry.Extent(
			{"xmin":-8591189.922223657,
			 "ymin":4695514.45486338,
			 "xmax":-8557557.629778225,
			 "ymax":4726089.266177409,
			 "spatialReference":{"wkid":102100}
			});
			map = new esri.Map("map",{extent:initExtent});

			var layer = new esri.layers.ArcGISTiledMapServiceLayer("http://services.arcgisonline.com/ArcGIS/rest/services/World_Street_Map/MapServer");
			map.addLayer(layer);
			var resizeTimer;
			dojo.connect(map, 'onLoad', function(theMap) {
				dojo.connect(dijit.byId('map'), 'resize', function() {
					clearTimeout(resizeTimer);
					resizeTimer = setTimeout( function() {
						map.resize();
						map.reposition();
					}, 500);
				});
			});
		}
		dojo.addOnLoad(Init);
	</script>
<% end %>

<div id="map">
</div>
