<ul id="nav-service" class="nav-service">
	<% if !current_user %>
	  <li><%= link_to "Register", new_account_path %></li>
	  <li><%= link_to "Log In", new_user_session_path %></li>
	<% else %>
	  <li><%= link_to "Log out", user_session_path, :method => :delete, 
				:confirm => "Are you sure you want to log out?" %></li>
	  <li><%= link_to current_user.email, account_path %></li>
	<% end %>	
</ul>
