<ul class="nav main">
	<li><%= link_to 'Home', public_collections_path, :title => "" %>
	<li><%= link_to 'Map', public_maps_path, :title => "" %>
	<li class="secondary">
		<%= link_to 'Support', '/support', :title => "" %>
	</li>
</ul>					
