<%# Expects collection: document and %>
<%# local variable: properties - hash of properties for this datasource %>
<table>
	<thead>
		<tr>
			<% properties.each do |prop| %>
				<th><button>&nbsp;</button><%= prop.label %></th>
			<% end %>
		</tr>
	</thead>
	<tbody>
		<% documents.each do |document| %>
			<tr>
				<% properties.each do |p| %>
					<td><%= document.attributes[p.identifier.to_sym] %></td>
				<% end %>
			</tr>
		<% end %>
	</tbody>
</table>
