<div class="block" id="tables">
  <table>
    <thead>
      <tr>
	<th>Title</th>
	<th>No. Records</th>
	<th>Description</th>
	<th>Updated</th>
      </tr>
    </thead>
    <% datasources.each do |ds| %>
    <tr>
      <td><%= link_to ds.title, admin_datasource_path(ds.identifier) %></td>
      <td><%= ds.model.count %></td>
      <td><%= ds.metadata.description unless ds.metadata.nil? %></td>
      <td><%= ds.updated_at.to_s(:full) %></td>
    </tr>
    <% end %>
  </table>
</div>
