<ol class="contact-email">
	<li  class="prefix_1" >
		<select name="contact[emails][][type]" type="text"value=<%= email.type %> >
			<%= options_for_select(VCard::Email::EMAIL_TYPES, email.type) %>
		</select>
		<input name="contact[emails][][value]" type="text" class="standard" value=<%= email.value %> >
	</li>
	<li><a href="#" class="delete-contact-email delete-element" alt="Delete">Delete email address</a></li>
</ol>