<ol class="telephone-property">
	<li class="prefix_1" >
		<select name="contact[telephones][][type]" type="text"value=<%= telephone.type %> >
			<%= options_for_select(VCard::Telephone::TELEPHONE_TYPES, telephone.type) %>
		</select>
		<input name="contact[telephones][][value]" type="text" class="standard" value=<%= telephone.value %> >
	</li>
	<li><a href="#" class="delete-contact-telephone delete-element" alt="Delete">Delete telephone number</a></li>
</ol>