<% new_or_existing = telephone.new_record? ? 'new' : 'existing' %>
<% prefix = "contact[#{new_or_existing}_telephone_attributes][]"%>

<% fields_for prefix, telephone do |tel| -%>
	<ol>
		<li><%= tel.label :type, :class => "wide" %> <%= tel.text_field :type, :class=>'wide' %></li>
		<li><%= tel.label :value, :class => "wide" %> <%= tel.text_field :value, :class => "wide" %></li>
	</ol>
<% end -%>
