<% title "Contacts" %>
<div class="grid_12">
  <p><%= link_to 'Add Contact', new_admin_contact_path %> </p>
  <hr />
</div>
<div class="grid_3">
	<ul id="contact_list">
		<h2>Name</h2>
		<% @contacts.each do |contact| %>
		  <li><%= link_to contact.formatted_name, show_contact_admin_contact_path(contact) + ".js", :remote => true %></li>
		<% end %>
  </ul>
</div>
<div class="grid_8 omega">
	<%= render :partial => 'show_contact', :locals => {:contact => @contact } %>
</div>
