<% title "Contacts" %>
<div class="grid_12">
  <p><%= link_to 'Add Contact', new_admin_contact_path %> </p>
  <hr />
</div>
<div class="grid_8">
    <div class="block" id="tables">
      <table>
	<thead>
	  <tr>
	    <th>Name</th>
	    <th>Organization</th>
	    <th>Email</th>
	  </tr>
	</thead>
	<% @contacts.each do |contact| %>
	<tr>
	  <td><%= link_to contact.formatted_name, admin_contact_path(contact) %></td>
	  <td><%= contact.organization.name ? contact.organization.name : '' %></td>
		<td>
			<% unless contact.emails %>''<% end %>
			<% contact.emails.each do |email| %>
				<%= "#{email.type}: #{email.value}"%><br/>
			<% end %>
		</td>
	</tr>
	<% end %>
      </table>
    </div>
</div>
