<%# Expects collection: document and %>
<%# local variable: properties - hash of properties for this dataset %>
<table>
	<thead>
		<tr>
			<% properties.each do |prop| %>
				<th><button>&nbsp;</button><%= prop.name %></th>
			<% end %>
		</tr>
	</thead>
	<tbody>
		<% documents.each do |document| %>
			<tr>
				<% properties.each do |p| %>
					<td><%= document[p.name] %></td>
				<% end %>
			</tr>
		<% end %>
	</tbody>
</table>
