<table>
	<thead>
		<tr>
			<th>Property</th>
			<th>Value</th>
		</tr>
	</thead>
	<% curr_rec = @xtab.data[0] %>
	<% sorted_attribute_list(curr_rec).each do |attrib_name| %>
		<tr>
			<td><%= attrib_name %></td>
			<td><%= curr_rec.get(attrib_name) %></td>
		</tr>
	<% end %>
</table>
< Previous | Next >