<% title "New Dataset" %>
<div class="grid_8">
  <div class="box">
    <h2>New Dataset</h2>
    <%= form_for :dataset, :url=>admin_datasets_path do |ds| %>
    <div class="box">
      <%= render :partial=>'form', :locals=>{:ds=>ds} %>
    </div>
    <p>
      <%= link_to 'Back',  :back %>
      <%= ds.submit "Submit", :class => "buttonSubmit", :style => "float: right;"%><br/>
    </p>
    <% end %>
  </div>
</div>

