<%= form_tag '/admin/datasets/extract_seed_properties', :multipart=>true, :id=>'seed-properties-form' do %>

  <fieldset>
  <p>
    <label>File</label>
    <input type="file" name="data_file"/>
  </p>
  </fieldset>

<% end %>
