<div class="box">
  <h2><%= group.title %></h2>
  <div class="block">
		<table style="width: 100%;">
			<th>Measure</th>
			<th>Prior</th>
			<th>Current</th>
			<th>Rank</th>
			<th>Trend</th>
			
			<% group.measures.each do |m| %>
				<%= render :partial => '/public/dashboards/dashboard_measure', :locals => { :measure => m } %>
			<% end %>
		</table>
	</div>
</div>
