<div class="box">
  <h2>Economic Strength</h2>
  <div class="block">
		<table  style="width: 100%;">
			<th>Measure</th>
			<th>Prior</th>
			<th>Current</th>
			<th>Rank</th>
			<th>Trend</th>
			<tr>
				<td>Gross Domestic Product (GDP) Growth</td>
				<td>(2.7)%</td>
				<td>(5.2)%</td>
				<td></td>
				<td class="inlinesparkline">-2.0,0.4,-2.7,-5.2</td>
			</tr>
			<tr>
				<td>Michigan vs. U.S. Gross Domestic Product (GDP) Growth</td>
				<td>(2.7)%</td>
				<td>(5.2)%</td>
				<td></td>
				<td class="compositeline" values="27,19,0,-26">-20,4,-27,-52</td>
			</tr>
			<tr>
				<td>Percent of structurally failing bridges</td>
				<td></td>
				<td></td>
				<td></td>
				<td class="pie">13,87</td>
			</tr>
			<tr>
				<td>Real personal income per capita</td>
				<td></td>
				<td></td>
				<td></td>
				<td>
          <span class="bullet">14,12,12,9,7</span><br /> 
				</td>
			</tr>
			<tr>
				<td>Children living in poverty</td>
				<td></td>
				<td>23%</td>
				<td></td>
				<td class="pie">23,77</td>
			</tr>
		</table>
	</div>
</div>
