<tr>
	<td <%= "style='cursor: help;' title='#{measure['description']}'" if measure['description'] %>><%= measure["measure"] %></td>

	<% if measure['values'].length > 1 %>
		<%= show_measure(measure) %>
	<% else %>
		<td>&nbsp;</td> <td>&nbsp;</td> <td>&nbsp;</td> <td>&nbsp;</td>
	<% end %>
</tr>
