<% title "Dashboards" %>
<div class="grid_8">
	
  <div class="box">
	  <h2>Economic Strength</h2>
    <div class="block">
	    <%= render :partial=>'/shared/chart' %>
			<p>Inline Sparkline: <span class="inlinesparkline">1,4,4,7,5,9,10</span>.</p>
			<p>Sparkline with dynamic data: <span class="dynamicsparkline">Loading..</span></p>
			<p>Bar chart with dynamic data: <span class="dynamicbar">Loading..</span></p>
			<p>Bar chart with inline data: <span class="inlinebar">1,3,4,5,3,5</span></p>
		</div>
	</div>

  <div class="box">
	  <h2>Economic Strength</h2>
    <div class="block">
			<table  style="width: 100%;">
				<th>Measure</th>
				<th>&nbsp;</th>
				<th>Current</th>
				<th>Rank</th>
				<tr>
					<td title="Period: Feb 2010 - Jan 2011">Unemployment</td>
					<td class="inlinesparkline">14.1,14,13.6,13.2,13.1,13.1,13.0,12.8,12.4,11.7,10.7,10.4</td>
					<td>10.4%</td>
					<td></td>
				</tr>
				<tr>
					<td>Gross Domestic Product (GDP) Growth</td>
					<td class="inlinesparkline">-2.0,0.4,-2.7,-5.2</td>
					<td>(5.2)%</td>
					<td></td>
				</tr>
				<tr>
					<td>Michigan vs. U.S. Gross Domestic Product (GDP) Growth</td>
					<td class="compositeline" values="27,19,0,-26">-20,4,-27,-52</td>
					<td>(5.2)%</td>
					<td></td>
				</tr>
				<tr>
					<td>Percent of structurally failing bridges</td>
					<td class="pie">13,87</td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td>Real personal income per capita</td>
					<td class="bullet">14,12,12,9,7</td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td>Children living in poverty</td>
					<td class="pie">23,77</td>
					<td>23%</td>
					<td></td>
				</tr>
			</table>
		</div>
	</div>

  <div class="box">
	  <h2>Economic Strength</h2>
    <div class="block">
			<table  style="width: 100%;">
				<th>Measure</th>
				<th>Prior</th>
				<th>Current</th>
				<th>Rank</th>
				<th>Trend</th>
				<tr>
					<td alt="Feb 2010 -> Jan 2011">Unemployment</td>
					<td>10.7%</td>
					<td>10.4%</td>
					<td></td>
					<td class="inlinesparkline">14.1,14,13.6,13.2,13.1,13.1,13.0,12.8,12.4,11.7,10.7,10.4</td>
				</tr>
				<tr>
					<td>Gross Domestic Product (GDP) Growth</td>
					<td>(2.7)%</td>
					<td>(5.2)%</td>
					<td></td>
					<td class="inlinesparkline">-2.0,0.4,-2.7,-5.2</td>
				</tr>
				<tr>
					<td>Michigan vs. U.S. Gross Domestic Product (GDP) Growth</td>
					<td>(2.7)%</td>
					<td>(5.2)%</td>
					<td></td>
					<td class="compositeline" values="27,19,0,-26">-20,4,-27,-52</td>
				</tr>
				<tr>
					<td>Percent of structurally failing bridges</td>
					<td></td>
					<td></td>
					<td></td>
					<td class="pie">13,87</td>
				</tr>
				<tr>
					<td>Real personal income per capita</td>
					<td></td>
					<td></td>
					<td></td>
					<td>
	          <span class="bullet">14,12,12,9,7</span><br /> 
					</td>
				</tr>
				<tr>
					<td>Children living in poverty</td>
					<td></td>
					<td>23%</td>
					<td></td>
					<td class="pie">23,77</td>
				</tr>
			</table>
		</div>
	</div>

  <div class="box">
	  <h2>Health and Education</h2>
    <div class="block">
			<table  style="width: 100%;">
				<th>Measure</th>
				<th>Prior</th>
				<th>Current</th>
				<th>Rank</th>
				<th>Trend</th>
				<tr>
					<td>Infant mortality (per 1,000 births)</td>
					<td></td>
					<td></td>
					<td></td>
					<td class="bullet">10,12,12,9,7</td>
				</tr>
				<tr>
					<td>Obesity in the population</td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td>3rd graders reading at grade level</td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
			</table>
		</div>
	</div>


  <div class="box">
	  <h2>Value for Money Government</h2>
    <div class="block">
			<table  style="width: 100%;">
				<th>Measure</th>
				<th>Prior</th>
				<th>Current</th>
				<th>Rank</th>
				<th>Trend</th>
				<tr>
					<td>Bond rating (Standard &amp; Poor's)</td>
					<td>AA-</td>
					<td>AA-</td>
					<td></td>
					<td></td>
				</tr>
			</table>
		</div>
	</div>

  <div class="box">
	  <h2>Quality of Life</h2>
    <div class="block">
			<table  style="width: 100%;">
				<th>Measure</th>
				<th>Prior</th>
				<th>Current</th>
				<th>Rank</th>
				<th>Trend</th>
				<tr>
					<td>State park popularity - annual visits per citizen</td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td>Population growth (ages 25-34)</td>
					<td>(1.9)%</td>
					<td>(1.6)%</td>
					<td></td>
					<td class="inlinebar">6,-1,-3,-6,-8,-12,-17,-19,-16</td>
				</tr>
			</table>
		</div>
	</div>

  <div class="box">
	  <h2>Public Safety</h2>
    <div class="block">
			<table  style="width: 100%;">
				<th>Measure</th>
				<th>Prior</th>
				<th>Current</th>
				<th>Rank</th>
				<th>Trend</th>
				<tr>
					<td>Violent Crime per 100,000</td>
					<td>501</td>
					<td>497</td>
					<td></td>
					<td class="inlinesparkline">552,562,536,501,497</td>
				</tr>
				<tr>
					<td>Property Crime per 100,000</td>
					<td>2935</td>
					<td>2838</td>
					<td></td>
					<td class="inlinesparkline">3091,3213,3066,2935,2838</td>
				</tr>
				<tr>
					<td>Traffic Injuries - Fatal</td>
					<td>980</td>
					<td>871</td>
					<td></td>
					<td class="inlinesparkline">1129,1084,1084,980,871</td>
				</tr>
				<tr>
					<td>Traffic Injuries - Serious and Fatal</td>
					<td>6725</td>
					<td>6511</td>
					<td></td>
					<td class="inlinesparkline">8486,7618,7485,6725,6511</td>
				</tr>
			</table>
		</div>
	</div>
</div>
