<% title @dash.title %>
<div class="grid_8">
	<% @dash.groups.each do |g|  %>
		<%= render :partial => 'dashboard_group', :locals  =>{ :group => g } %>
	<% end %>
</div>

<div class="grid_4 omega">
  <div class="box">
    Get your very own Civic OpenMedia instance!  <%= link_to 'Signup Now!', new_site_path %>
  </div>
</div>