<% title "Contacts" %>
<div class="grid_12">
  <p style="float:right"><%= link_to 'New Contact', new_admin_vcard_path %> </p>
  <hr />
</div>
<div class="grid_12">
  <div class="box">
    <h2>Contacts List</h2>
    <div class="block" id="tables">
      <table>
	<thead>
	  <tr>
	    <th>Last Name</th>
	    <th>First Name</th>
	    <th>Organization</th>
	  </tr>
	</thead>
	<% @vcards.each do |vcard| %>
	<tr>
	  <td><%= link_to vcard.n.family_name, admin_vcard_path(rdf_id(vcard)) %></td>
	  <td><%= link_to vcard.n.given_name, admin_vcard_path(rdf_id(vcard)) %></td>
	  <td><%= vcard.org ? link_to(vcard.org.organization_name, admin_vcard_path(rdf_id(vcard))) : '' %></td>
	</tr>
	<% end %>
      </table>
    </div>
  </div>
</div>
