<% title "A Publishing System for Open Government Data" %>
<div class="grid_4">
		<div class="spotlight" id="frontpage_load_data">
			<h2><%= link_to '1. Import Data', new_upload_admin_datasets_path, :title => "" %></h2>
			<p>Upload your organization's data content</p>
		</div>
</div>
<div class="grid_4">
	<div class="spotlight">
		<h2><%= link_to '2. Edit Content', admin_datasets_path, :title => "" %></h2>
		<p>Define terms, edit, filter and extend dataset values</p>
	</div>
</div>
<div class="grid_4">
	<div class="spotlight">
		<h2><%= link_to '3. Publish', admin_settings_path, :title => "" %></h2>
		<p>Make datasets accessible to others</p>
	</div>
</div>
