<% title "Publishing System for Open Government Data" %>
<div class="grid_3">
		<div class="spotlight" id="frontpage_load_data">
			<h2><%= link_to 'Import Data', new_admin_dataset_path, :title => "" %></h2>
			<p>Upload your organization's data content</p>
		</div>
</div>
<div class="grid_3">
	<div class="spotlight">
		<h2><%= link_to 'Refine Content', admin_catalogs_path, :title => "" %></h2>
		<p>Edit, filter and extend dataset values prior to publishing</p>
	</div>
</div>
<div class="grid_3">
	<div class="spotlight">
		<h2><%= link_to 'Describe Dataset', admin_community_path, :title => "" %></h2>
		<p>Explain dataset content and define terms</p>
	</div>
</div>
<div class="grid_3">
	<div class="spotlight">
		<h2><%= link_to 'Publish', admin_settings_path, :title => "" %></h2>
		<p>Make datasets accessible to others</p>
	</div>
</div>
