<% title "Support" %>
<div class="grid_12">
</div>
<div class="grid_7">
	<div class="box articles">
		<div class="block articles">
			<div class="first article">
				<h3>Services</h3>
				<p class="meta">For Fee</p>
				<p>
					<ul>
						<li>Hosting
						<li>Consulting
						<li>Software development
						<li>Donate
					</ul>
				</p>
			</div>
			<div class="article">
				<h3>Free Resources</h3>
				<p>iPublic.org hosts a wiki and blog with information and resources for both the Civic OpenMedia system and government open data generally.</p>
				<ul>
					<li><a href="http://www.ipublic.org/wiki/Civic_OpenMedia_project">Civic OpenMedia system</a></li>
					<li><a href="http://www.ipublic.org/wiki/Main_Page">iPublic Wiki</a></li>
					<li><a href="http://www.ipublic.org/blog/">iPublic Blog</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>
	
<div class="grid_5">
	<div class="box articles">
		<div class="block articles">
			<div class="first article">
				<h3>Mailing lists</h3>
					<p>The Civic OpenMedia project hosts email lists for discussion related to the software.</p>
					<h4>User Discussion and Support</h4>
					<p>The <strong>User Discussion</strong> and mail list is the the primary source for free system support and also a place for general discussion related to the Civic OpenMedia system. </p>
					<ul>
						<li>To <strong>subscribe</strong> or <strong>unsubscribe</strong>: 
							<a href="http://www.civicopenmedia.org/listserve-user.html">User email list</a></li>
						<li>Registered subscribers can send a message to the list using the following address: <a href="mailto:user@civicopenmedia.org">user@civicopenmedia.org</a></li>
					</ul>
					<h4>Development Discussion</h4>
					<p>The <strong>Development Discussion</strong> mail list is where Civic OpenMedia design and implementation is discussed.  This includes current development activity, future features, release schedules and general technical discussion.  All Civic OpenMedia developers and committers should subscribe to this list.  Others interested in following development are welcome to join.</p>
					<ul>
						<li>To <strong>subscribe</strong> or <strong>unsubscribe</strong>: 
							<a href="http://www.civicopenmedia.org/listserve-dev.html">Developer email list</a></li>
						<li>Registered subscribers can send a message to the list using the following address: <a href="mailto:dev@civicopenmedia.org">dev@civicopenmedia.org</a></li>
					</ul>
			</div>
		</div>
	</div>
</div>
