<% title "Organizations" %>
<div class="grid_12">
	<p style="float:right"><%= link_to 'New Organization', new_admin_organization_path %> </p>
	<hr />
</div>
<div class="grid_12">
	<div class="box">
		<h2>Organizations List</h2>
		<div class="block" id="tables">
			<table>
				<thead>
				<tr>
					<th>Name</th>
					<th>URL</th>
				</tr>
				</thead>
				<% unless @organizations.nil? %>
					<% @organizations.each do |organization| %>
					  <tr>
							<td><%= link_to organization.name, admin_organization_path(organization) %></td>
							<td><%= organization.website_url %></td>
					  </tr>
					<% end %>
				<% end %>
			</table>
		</div>
	</div>
</div>
