<% title "#{@collection.label} Datasets" %>
<div class="grid_12">
  <div class="box">
    <div class="block" id="tables">
      <table>
				<thead>
				  <tr>
				    <th>Name</th>
				    <th>No. Properties</th>
				    <th>No. Records</th>
				    <th>Download Data</th>
				  </tr>
				</thead>
				<% @classes.each do |cls| %>
				<tr>
				  <td><%= link_to cls.label, class_path(rdf_id(cls)) %></td>
				  <td><%= cls.properties.size %></td>
				  <td><%= cls.instance_count %></td>
					<td>&nbsp;</td>
				</tr>
				<% end %>
      </table>
    </div>
  </div>
</div>
