<%= show_fields(gnis, [
		:feature_id,
		:feature_name,
		:feature_class,
		:citation
		]).html_safe %>
<p><b>Lon, Lat, Elevation</b> <br/><%=h gnis.longitude %>, <%=h gnis.latitude %>, <%=h gnis.elevation %></p>