<% title "Schema > Collections" %>
<div class="grid_12">
  <%= link_to 'Add Collection', new_admin_schema_collection_path %>
	<hr />
</div>
<div class="grid_8">
    <div class="block" id="tables">
      <table>
				<thead>
				  <tr>
				    <th>Title</th>
				    <th>ID</th>
				    <th>No. Classes</th>
				  </tr>
				</thead>
				<% @collections.each do |c| %>
				<tr>
				  <td><%= link_to c.label, admin_schema_collection_path(rdf_id(c)) %></td>
				  <td><%= c.identifier %></td>
				  <td><%= c.members.select{|cu| cu.parent.parent==current_site.skos_collection.uri.parent }.size %></td>
				</tr>
				<% end %>
      </table>
  </div>
</div>

<div class="grid_4">
	<div class="box articles">
		<div class="block" id="articles">
			<div class="first article">
				<h3>Organize Data Content</h3>
				<p class="meta">Help others find and use your site's data.</p>
				<p>OpenMedia schemas add uniformity to data content and group that content into common themes.</p>
				<p>Here you will find predefined Collections: common categories where you may publish uploaded content.</p>
				<p>Within Collections, Classes for open and consensus standards are provided (as available) to make it easy to quickly publish and share information using common terms and vocabularies.</p>
				<p>If an appropriate Collection or Class isn't already available, you may also add your own.</p>
			</div>
		</div>
	</div>
</div>
