<% title "Edit Dashboard: #{@dashboard.title}" %>
<div id="forms">
  <%= form_for :dashboard, :url => admin_dashboard_path(@dashboard), :html => {:method=>:put} do |f| %>
  <%= render :partial => 'form', :locals=> {:f=>f} %>
  <% end %>
</div>

